[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "INLAjoint"]
	path = INLAjoint
	url = https://github.com/denisrustand/inlajoint
